{{ $topography := resources.Get "/img/topography.svg" }}
{{ $data := .Site.Data.funnel }}
{{ $location := .Title | replaceRE "\\s" "-" | lower }}

{{ $dataCareer := .Params.dataCareer }}
{{ $dataArea := "" }}
{{ $dataCareerValue := "" }}

{{ if eq $dataCareer "Aircraft Mechanic" }}
  {{ $dataArea = "truck-driving-transportation-and-mechanics" }}
  {{ $dataCareerValue = "aircraft-maintenance" }}
{{ else if eq $dataCareer "Auto Mechanic" }}
  {{ $dataArea = "truck-driving-transportation-and-mechanics" }}
  {{ $dataCareerValue = "automotive-technology" }}
{{ else if eq $dataCareer "Carpentry" }}
  {{ $dataArea = "building-systems-construction-and-manufacturing" }}
  {{ $dataCareerValue = "carpentry" }}
{{ else if eq $dataCareer "CNC Machinist" }}
  {{ $dataArea = "building-systems-construction-and-manufacturing" }}
  {{ $dataCareerValue = "metal-working" }}
{{ else if eq $dataCareer "Electrician" }}
  {{ $dataArea = "building-systems-construction-and-manufacturing" }}
  {{ $dataCareerValue = "electrical-technology" }}
{{ else if eq $dataCareer "HVAC" }}
  {{ $dataArea = "building-systems-construction-and-manufacturing" }}
  {{ $dataCareerValue = "hvac" }}
{{ else if eq $dataCareer "Plumbing" }}
  {{ $dataArea = "building-systems-construction-and-manufacturing" }}
  {{ $dataCareerValue = "plumbing" }}
{{ else if eq $dataCareer "Welder" }}
  {{ $dataArea = "truck-driving-transportation-and-mechanics" }}
  {{ $dataCareerValue = "transportation" }}
{{ else if eq $dataCareer "Truck Driving" }}
  {{ $dataArea = "truck-driving-transportation-and-mechanics" }}
  {{ $dataCareerValue = "transportation" }}
{{ else if eq $dataCareer "Wind Turbine Technician" }}
  {{ $dataArea = "truck-driving-transportation-and-mechanics" }}
  {{ $dataCareerValue = "wind-turbine-technician" }}
{{ end }}

<section
  id="career_now_section"
  class="bg-repeat bg-foreground overflow-visible mx-auto px-1 py-5 row-start-4 w-full z-10"
  style="background-image: url({{ $topography.Permalink }});"
>
<link rel="stylesheet" href="https://edu-wizard-flow-widget.s3.us-east-1.amazonaws.com/main/index.css">								
<div class="wzflow-widget" >
<wizard-flow-search								
flow-type="full"								
header-bg-color="#16345a"								
header-text-color="light"								
:settings="{ btnBgColorStyle: '#d58325' }"								
body-bg-color="#fbfbfb"								
data-csna="yJEel"								
data-csnp="FoSSY"								
:is-affiliate="true"
data-area="{{ $dataArea }}"								
data-career="{{ $dataCareerValue }}"	
></wizard-flow-search>								
</div>				
<script type="module" crossorigin="anonymous" src="https://edu-wizard-flow-widget.s3.us-east-1.amazonaws.com/main/index.js"></script>								

</section>

