{{ define "hero" }}
  {{ $findSection := .CurrentSection.RelPermalink | replaceRE "/careers/([a-z-]+)/" "$1" }}
  {{ $section := ($.Site.GetPage "section" (print "careers/" $findSection)).Pages }}

  {{/*  build data array  */}}
  {{ $var := newScratch }}
  {{ $var.Delete "iconData" }}
  {{ with .Params.sliderPages }}
  {{ $sliderData := . }}
    {{ range $sliderData }}
      {{ with $.Site.GetPage . }}
        {{ $parentTitle := cond (ne .Params.selectTitle nil) .Params.selectTitle .Title }}
        {{ $title := .Title | replaceRE $parentTitle "" | replaceRE "\\s?[aA]\\s?$" "" }}
        {{ $iconPath := replace .Params.icon "/assets/img/" "" }}
        {{ $pageIcon := cond (ne $iconPath "") $iconPath nil }}
        {{ $var.Add "iconData" (slice (dict "name" $title "relLink" .RelPermalink "iconImg" $pageIcon))}}
      {{ end }}
    {{ end }}
  {{ end }}

  <section
    id="hero"
    class="auto-rows-min grid items-center mb-0 mt-5 mx-auto pb-0 pt-8 px-0 relative w-full"
    data-type="hero"
    data-iconselector="true"
    data-home="false"
    data-nosnippet
  >
    <h1
      class="col-start-2 row-start-1 md:text-6xl mb-6 mx-auto text-4xl text-center w-full"
      style="max-width: 100%;"
      data-type="herolead"
    >
      {{ .Title }}
    </h1>
    {{ partial "main/funnel-widget.html" . }}
  </section>
{{ end }}

{{ define "main" }}
  {{ $findSection := .CurrentSection.RelPermalink | replaceRE "/careers/([a-z-]+)/" "$1" }}

  <article class="flex flex-col items-start justify-start py-6 relative xl:flex-row w-full">
    {{ $cleanContent := replaceRE "\n+" "" .Content }}
    {{ $updatedContent := replaceRE "<table>(.*)</table>" "<div class='table-wrap'><table>$1</table></div>" $cleanContent }}

    <section id="content" class="lg:mr-8 my-4 w-full">{{ $updatedContent | safeHTML }}</section>
    <section id="related" class="flex flex-wrap items-start justify-start my-4 xl:max-w-min-content xl:sticky xl:top-0 w-full" data-nosnippet>
      {{ with .Params.relatedArticles }}
        {{ $articlesData := . }}

        <h2 class="font-serif pb-4 text-4xl">Related Articles</h2>
        <ul
          class="gap-6 grid md:gap-x-6 md:gap-y-8 list-none mx-0 my-4 p-0 w-full"
        >
          {{ range $articlesData }}
            {{ with $.Site.GetPage . }}
              {{ partial "main/related.html" . }}
            {{ end }}
          {{ end }}
        </ul>
      {{ end }}
      {{ with .Params.relatedCareers }}
        {{ $careersData := . }}

        <h2 class="font-serif pb-4 text-4xl">Related Careers</h2>
        <ul
          class="gap-6 grid md:gap-x-6 md:gap-y-8 list-none mx-0 my-4 p-0 w-full"
        >
          {{ range $careersData }}
            {{ with $.Site.GetPage . }}
              {{ partial "main/related.html" . }}
            {{ end }}
          {{ end }}
        </ul>
      {{ end }}
      {{ $nearYou := $.Site.GetPage "section" "near-you" }}
      <h2 class="font-serif pb-4 text-4xl w-full">{{ $nearYou.Title }}</h2>
      <a href='{{ $nearYou.Permalink }}' class="focus:no-underline hover:no-underline no-underline">
        {{ partial "lib/img.html" (dict "src" $nearYou.Params.image "alt" "" "size" 250 "picClass" "flex h-full items-center justify-center max-h-full m-0 overflow-hidden rounded-lg" "imgClass" "object-center object-cover rounded-lg w-full" "hidden" true) }}
      </a>
    </section>
  </article>
{{ end }}
