<script type='text/javascript' src='https://www.esyoh.com/clients/js/widget.js?ver=3.0.0' id='esyoh-widget-js'></script>
<div class="esy_widget_container"></div>
<script data-cfasync="false" type="text/javascript">
    document.addEventListener("DOMContentLoaded", function(event) {ESY.Widget({
        category_id: '',
        new_window: '',
        results: '',
        title: '',
        domain_id: 'https://toptradeschools.com/',
        type: '',        
        widget_layout: 'vertical',
        intro: '',      
        placement: ''
    });});
</script>